# Local Data & S3 Simulation
data/*
!data/.gitkeep
minio_data/*
!minio_data/.gitkeep
backrest_config/*
!backrest_config/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Environment variables
.env
.env.local

# OS / IDE
.DS_Store
.idea/
.vscode/
node_modules/